

body {

    font-family: sans-serif;
    background-color: #fff3db;
    max-width: 720px;
    margin: 0 auto;
    width: 90%;
}

h1,
h2,
h3 {

    text-align: center;
}

h2{

    color: #f02425;
    font-weight: bold;
}

h1 {

    background-color: red;
    color: white;
    text-transform: uppercase;
}

h3 {

    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
}

.ROUGE {

    color: #f02425;
    font-weight: bold;
}

.rouge {

    color: #f02425;
}

img {

    display: block;
    width: 90%;
    margin: 0 auto;
}

.astuce {

    text-align: center;
    background-color: #f7d09c;
    font-style: italic;
    color: #575757;
    font-weight: bold;
}